<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.eblog.mapper.MPostMapper">
    <!--分页查询博客信息-->
    <select id="selectPosts" resultType="com.lmy.eblog.pojo.vo.PostVo">
        select p.*, mu.id as authorId, mu.username as authorName, mu.avatar as authorAvatar, mc.name as categoryName
        from m_post p
         left join m_user mu on p.user_id = mu.id
         left join m_category mc on p.category_id = mc.id
         ${ew.customSqlSegment}
    </select>
    <!--查询单个博客-->
    <select id="selectOnePost" resultType="com.lmy.eblog.pojo.vo.PostVo">
        select p.*, mu.id as authorId, mu.username as authorName, mu.avatar as authorAvatar, mc.name as categoryName
        from m_post p
         left join m_user mu on p.user_id = mu.id
         left join m_category mc on p.category_id = mc.id
         ${ew.customSqlSegment}
    </select>


    <select id="selectPost" resultType="com.lmy.eblog.pojo.vo.PostVo">
        SELECT
            p.*,

            u.id AS authorId,
            u.username AS authorName,
            u.avatar AS authorAvatar,

            c.id AS categoryId,
            c.name AS categoryName
        FROM
            m_post p
        LEFT JOIN m_user u ON p.user_id = u.id
        LEFT JOIN m_category c ON p.category_id = c.id
        ${ew.customSqlSegment}

    </select>
</mapper>
